<template lang="html">
  <div class="version">
    <a v-if="version" tabindex="0" class="version__tag"> v{{ version }} </a>
  </div>
</template>

<script>
export default {
  name: 'Version',

  data() {
    return {
      version: process.env.VUE_APP_VERSION
    }
  }
}
</script>

<style lang="css" scoped>
.version {
  &__tag {
    @apply text-gray-500 text-xs tracking-wider;
    @apply cursor-pointer;
    @apply my-1;
    &:hover {
      @apply text-gray-700;
    }
    &:focus {
      @apply outline-none;
      @apply text-gray-700;
    }
  }
}
</style>
