<template lang="html">
  <div class="base-code">
    <div v-for="(digit, idx) in code_" :key="idx" class="base-code__digit">
      <input
        :disabled="!idx"
        class="base-code__digit-input"
        ref="digits"
        maxlength="1"
        v-model="code_[idx]"
        :tabindex="!idx ? -1 : 0"
        @click="handleFocus(idx)"
        @focus="handleFocus(idx)"
        @input="handleInput(idx)"
      />
      <span :class="className(idx)">{{ code_[idx] }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseCodeInput',

  model: {
    prop: 'code',
    event: 'change'
  },

  props: {
    type: {
      type: String,
      default: 'V',
      validator: (type) => ['V', 'R'].includes(type)
    },
    length: {
      type: Number,
      default: 5,
      validator: (length) => length > 0
    },
    code: {
      type: String,
      default: ''
    }
  },

  data() {
    return {
      code_: []
    }
  },

  mounted() {
    this.code_ = new Array(this.length)
    this.code_[0] = this.type
    if (!this.code) return
    if (/[RV][0-9]+/.test(this.code) && this.code.length === this.length + 1) {
      this.code_ = this.code.split('').splice(1)
    }
  },

  computed: {
    className() {
      return (idx) => {
        const className = ['base-code__digit-tag']
        if (this.code_[idx]) className.push('base-code__digit-tag--active')
        return className.join(' ')
      }
    }
  },

  methods: {
    handleFocus(idx) {
      this.$refs.digits[idx].select()
    },
    handleInput(idx) {
      const nextDigit = this.$refs.digits[idx + 1]
      nextDigit ? nextDigit.focus() : this.$refs.digits[idx].blur()
      this.$emit('change', `${this.type}${this.code_.join('')}`)
    }
  }
}
</script>

<style lang="css" scoped></style>
