<template lang="html">
  <form class="form">
    <template v-if="!isSigningUp">
      <h1 class="form__title">
        Welcome!
      </h1>
      <h2 class="form__subtitle">
        Create your penguin API account. Your email will only be used to send you a confirmation link.
      </h2>
      <base-input v-model="form.username" label="username" />
      <base-input v-model="form.email" label="email" />
      <base-input v-model="form.password" label="password" type="password" :error="!matchingPasswords" />
      <base-input v-model="form.confirmPassword" label="confirm password" type="password" :error="!matchingPasswords" />
      <base-button class="form__button" @click="signup({ form })" :icon="['fas', 'arrow-right']" />
    </template>
    <template v-else>
      <base-loader />
    </template>
  </form>
</template>

<script>
import BaseInput from '@/components/shared/base-input'
import BaseButton from '@/components/shared/base-button'
import BaseLoader from '@/components/shared/base-loader'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'SignupForm',

  components: { BaseInput, BaseButton, BaseLoader },

  data() {
    return {
      form: {
        username: '',
        email: '',
        password: '',
        confirmPassword: ''
      }
    }
  },

  computed: {
    ...mapGetters(['isSigningUp']),
    matchingPasswords() {
      return this.form.password === this.form.confirmPassword
    }
  },

  methods: {
    ...mapActions(['signup'])
  }
}
</script>

<style lang="css" scoped></style>
