<template lang="html">
  <div class="flex flex-row justify-between items-end">
    <div>
      <component v-for="name in links" :key="name" :is="name + '-link'"> </component>
    </div>
    <version />
  </div>
</template>

<script>
import SigninLink from '@/components/shared/links/signin-link'
import SignupLink from '@/components/shared/links/signup-link'
import RecoverLink from '@/components/shared/links/recover-link'
import SignoutLink from '@/components/shared/links/signout-link'
import Version from '@/components/shared/version'
import BaseLink from '@/components/shared/base-link'
export default {
  name: 'SidebarFooter',
  components: { Version, BaseLink, SigninLink, SignupLink, RecoverLink, SignoutLink },
  props: ['links']
}
</script>

<style lang="css" scoped></style>
