<template lang="html">
  <form class="form">
    <template v-if="!isRecovering && step === 'recover'">
      <h1 class="form__title">
        Woops!
      </h1>
      <h2 class="form__subtitle">
        Fill out your email address, and we’ll send you a code to reset your password
      </h2>
      <base-input v-model="form.email" label="email" />
      <base-button class="form__button" @click="recover({ form })" />
    </template>
    <template v-if="!isRecovering && step === 'reset'">
      <h1 class="form__title">
        Got your code?
      </h1>
      <h2 class="form__subtitle">
        Use the code you received in your email to reset your account's password
      </h2>
      <base-code-input type="R" v-model="form.code" />
      <base-input v-model="form.password" label="password" type="password" />
      <base-input v-model="form.confirmPassword" label="confirm password" type="password" />
      <base-button class="form__button" @click="recover({ form })" />
    </template>
    <template v-if="isRecovering">
      <base-loader />
    </template>
  </form>
</template>

<script>
import BaseInput from '@/components/shared/base-input'
import BaseButton from '@/components/shared/base-button'
import BaseLoader from '@/components/shared/base-loader'
import BaseCodeInput from '@/components/shared/base-code-input'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'RecoverForm',

  components: { BaseInput, BaseButton, BaseLoader, BaseCodeInput },

  data() {
    return {
      form: {
        email: '',
        password: '',
        confirmPassword: '',
        code: 'R1234'
      }
    }
  },

  computed: {
    ...mapGetters(['isRecovering', 'step'])
  },

  methods: {
    ...mapActions(['recover'])
  }
}
</script>

<style lang="css" scoped></style>
