.loader {
  display: inline-block;
  animation: pulsebg 4s infinite ease-out;
  width: 75px;
  height: 75px;
  position: relative;
  border-radius: 100%;
  @apply bg-gray-200;
  &__inner {
    animation: pulse 1s infinite linear;
    transform-origin: 55% 55%;
    box-sizing: border-box;
    width: 98%;
    height: 90%;
    position: relative;
    border-radius: 100%;
    background: white;
  }
}

@keyframes pulsebg {
  0%{
    @apply bg-orange-200;
  }
  25%{
    @apply bg-blue-200;
  }
  50% {
    @apply bg-red-200;
  }
  75% {
    @apply bg-green-200;
  }
  100%{
    @apply bg-orange-200;
  }
}

@keyframes pulse {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
