<template>
  <aside>
    <sidebar-header :logo="logo" />
    <component :is="content" />
    <sidebar-footer :links="links" />
  </aside>
</template>

<script>
import SidebarHeader from '@/components/shared/sidebar/sidebar-header'
import SidebarFooter from '@/components/shared/sidebar/sidebar-footer'
import RecoverForm from '@/components/auth/auth-sidebar/recover-form'
import SignupForm from '@/components/auth/auth-sidebar/signup-form'
import SigninForm from '@/components/auth/auth-sidebar/signin-form'
import UserActions from '@/components/home/home-sidebar/user-actions'
export default {
  name: 'Sidebar',
  components: { RecoverForm, SignupForm, SigninForm, SidebarHeader, SidebarFooter, UserActions },
  props: ['logo', 'content', 'links']
}
</script>
