<template lang="html">
  <base-link :to="{ name: 'recover' }">
    Forgot your password?
  </base-link>
</template>

<script>
import BaseLink from '@/components/shared/base-link'
export default {
  name: 'RecoverLink',
  components: { BaseLink }
}
</script>
