<template lang="html">
  <base-link :to="{ name: 'signin' }">
    Sign out
  </base-link>
</template>

<script>
import BaseLink from '@/components/shared/base-link'
export default {
  name: 'SignoutLink',
  components: { BaseLink }
}
</script>
