<template lang="html">
  <section class="flex flex-row h-full">
    <router-view class="aside" name="sidebar"></router-view>
    <router-view class="content" name="content"></router-view>
  </section>
</template>

<style lang="css" scoped>
.aside {
  @apply flex flex-col justify-between;
  @apply w-golden-b min-w-lg h-full;
  @apply px-20 py-12;
}

.content {
  background-image: url('../assets/images/mountain.jpg');
  background-position: center;
  background-size: cover;
  @apply w-golden-a h-full;
  @apply px-20 py-12;
}
</style>
