<template lang="html">
  <base-link :to="{ name: 'signup' }">
    Create Account
  </base-link>
</template>

<script>
import BaseLink from '@/components/shared/base-link'
export default {
  name: 'SigninLink',
  components: { BaseLink }
}
</script>
