<template lang="html">
  <title :class="className" ref="logo">
    <span ref="emoji" class="logo__emoji">🐧</span><span ref="text" class="logo__text">Penguin.</span>
  </title>
</template>

<script>
import v from 'velocity-animate'
export default {
  name: 'Logo',

  props: {
    size: {
      type: String,
      default: 'lg',
      validate: (size) => ['xs', 'sm', 'md', 'lg'].includes(size)
    }
  },

  data() {
    return {
      sizes: ['xs', 'sm', 'md', 'lg'],
      xs: { fontSize: '1rem', opacity: 1 },
      sm: { fontSize: '1.5rem', opacity: 1 },
      md: { fontSize: '2.25rem', opacity: 0 },
      lg: { fontSize: '4rem', opacity: 0 },
      animations: [
        { el: 'logo', style: 'fontSize', order: 1 },
        { el: 'text', style: 'opacity', order: 2 }
      ]
    }
  },

  computed: {
    className() {
      return `logo logo--${this.size}`
    }
  },

  watch: {
    size: {
      handler(size, previousSize) {
        const grow = this.sizes.indexOf(previousSize) > this.sizes.indexOf(size)
        const animations = this.animations.sort((a, b) => (grow ? a.order - b.order : b.order - a.order))
        this.animate({ size, animations })
      }
    }
  },

  mounted() {
    this.$refs.logo.style.fontSize = this[this.size].fontSize
    this.$refs.text.style.opacity = this[this.size].opacity
  },

  methods: {
    animate({ size, animations }) {
      v(
        this.$refs[animations[0].el],
        { [animations[0].style]: this[size][animations[0].style] },
        {
          duration: 500,
          easing: 'easeInOutCubic',
          complete: () =>
            v(
              this.$refs[animations[1].el],
              { [animations[1].style]: this[size][animations[1].style] },
              { duration: 500, easing: 'easeInOutCubic' }
            )
        }
      )
    }
  }
}
</script>

<style lang="css" scoped>
.logo {
  @apply inline-block;
  &__emoji {
    /* @apply inline-block; */
    transform: scale(-1, 1);
  }
  &__text {
    @apply font-black;
    @apply ml-1;
  }
  &--xs {
    @apply text-xl;
  }
  &--sm {
    @apply text-2xl;
  }
  &--md {
    @apply text-4xl;
  }
  &--lg {
    @apply text-6xl;
  }
}
</style>
